.done-button {
  @apply rounded-lg flex justify-center items-center flex-1 border-b-2 border-b-black border-opacity-10 box-border;
  background: linear-gradient(
    90deg,
    rgba(255, 231, 142, 1) 0%,
    rgba(216, 251, 1, 1) 50%,
    rgba(255, 247, 112, 1) 50%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.2s ease-in-out;
  &:hover {
    background-position: 0 0;
  }
}
